.ForgotPW {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    margin-bottom: 70px;
    border-radius: 15px;
    height: 400px;
    width: 800px;
}

.forgot-background {
    padding: 20px;
    padding-top: 20px;

    .title-forgot {
        width: 400px;
        text-align: left;
        margin: auto;
        font-size: 30px;
        padding-bottom: 20px;
    }

    .forgot-container {
        width: 400px;
        height: 300px;
        background-color: white;
        margin: auto;

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;

        .forgot-content {
            padding: 15px;

            .forgot-input {
                margin: 10px 0;
                width: 20px;

                input {
                    height: 40px;
                }

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 12px;
                        cursor: pointer;
                        font-size: 16px;
                    }
                }
            }

            .login-btn {
                margin: 10px 0;
                width: 100%;
                height: 40px;
                border: none;
                border-radius: 15px;
                outline: none;
                color: white;
                font-size: 15px;
                background: linear-gradient(135deg,
                        rgba(34, 193, 195, 1) 0%,
                        rgba(253, 187, 45, 1) 100%);

                &:hover {
                    transform: scale(1.02);
                    transition: all 0.05s;
                }
            }

            .xacthuc {
                display: flex;

                button {
                    height: 40px;
                    border-radius: 0;
                    border: none;
                    background-color: #5ab45f;

                    &:hover {
                        transform: scale(1.02);
                        transition: all 0.05s;
                    }
                }
            }

            .quay-lai {
                text-align: center;

                a {
                    text-decoration: none
                }
            }
        }

    }

    .forgot-button {
        padding-top: 8px;
        margin: 20px;
        text-align: center;

        .quaylai {
            padding-top: 20px;
        }
    }
}