.policy {
    background: white;
    padding: 5px;

    .ship {
        margin-bottom: 4px;
    }

    .title-chinh-sach {
        font-weight: 700;
        margin: 8px 0;
    }

    .title {
        margin-bottom: 12px;
    }

    .icon {
        margin-right: 4px;
    }
}