.Related-Products {
    background: white;
    padding: 16px;

    .arrow-total {
        margin: 0 auto;
        font-size: 20px;

        .arrow {
            position: absolute;
            font-size: 48px;
            color: #d5d5d5;
            top: 50%;
            transform: translateY(-24px);

            :hover {
                font-size: 52px;
                transition: all ease 0.2s;
            }
        }

        .arrow-left {
            left: 0;
        }

        .arrow-right {
            right: 0;
        }
    }

    .disabled {
        display: none;
    }
}