// .modal-form {
//     display: flex;
// }

.content-modal {
    width: 100%;

    .item {
        width: 90%;
    }
}

.input-duong {
    padding-left: 39px;
}

.item-select {
    width: 280px;
}

.item-select-1 {
    width: 266px;
}

.p-l-19px {
    padding-left: 19px;
}

.p-l-20px {
    padding-left: 20px;
}

.p-l-33px {
    padding-left: 33px;
}

.p-l-29px {
    padding-left: 29px;
}

.p-l-24px {
    padding-left: 24px;
}