/* Trong file CSS module */
.blockIcon {
    position: relative;
    display: flex;

    .Contact-Icon {
        width: 40px;
        position: fixed;
        bottom: 100px;
        right: 50px;
        z-index: 999;

        &:hover,
        &:active {
            transform: scale(1.2);
            transition: all 0.5s;
        }
    }

    .badgeIcon {
        position: fixed;
        bottom: 130px;
        right: 115px;
        z-index: 1000;
    }
}