.Result-Search {
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 32px 0;

    .sort-wrapper {
        padding: 0 16px;
        border-bottom: solid 1px #dadada;

        .sort {
            flex-wrap: wrap;
            padding: 10px 0;
            display: flex !important;
            align-items: center;

            .title-sapxep {
                font-size: 20px;
                margin-right: 8px;
                font-weight: 700;
            }
        }
    }

    .sort-btn-active {
        border: solid 1px #3a5dd8;
        color: #fff;
        background-color: #3a5dd8;
        transition: all 0.25s;
    }

    .price-search {
        margin-left: 8px;

        .price-search-input {
            border-radius: 4px;
            width: 120px;
        }

        .price-search-btn {
            margin-left: 8px;
            border-radius: 4px;
            background-color: #3a5dd8;
            color: #fff;
        }
    }

    .Result-Search-list {
        padding: 16px;
        min-height: 50vh;

        .not-found {
            position: relative;
            transition: transform 0.3s ease;
            display: flex;
            flex-direction: column;
            position: relative;

            .not-found-product {
                margin: 0 auto;
                width: 200px;
                height: 200px;
            }

            .title-not-found {
                font-size: 16px;
                margin-top: 8px;
                text-align: center;
            }
        }
    }
}