.excel {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    margin-left: 200px;

    .button-excel {
        margin-right: 50px;
    }
}

.chucnang-timkiem-order {
    display: flex;

    .input-order {
        width: 300px;
    }

    .select-trangthai {
        width: 200px;
    }
}

.ma {
    margin-left: 5px;
    margin-right: 5px;
}

.he {
    height: 40px;
}