.post {
    margin-right: 10px;

    .title_post {
        margin-top: 16px;
        margin-bottom: 8px;
        font-weight: 700;
    }

    .desc {
        text-align: justify;
        font-size: 15px;
        font-weight: 500;
    }
}